.ServicesTitle {
  display: none;
}

.PageBannerAlternate.Services {
  h1.ServicesTitle {
    display: block;
    color: $DarkGrayColor;
    border: none;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  h2 {
    color: $GoldColor;
    font-size: 1.5rem;
    border-bottom: 1px solid $GoldColor;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
  }

  &:after {
    display: none;
  }
}

.Services.column {
  flex-basis: 50%;
  max-width: 50%;
  margin-bottom: 5rem;
  padding: 0 3rem;

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }

  ul li {
    color: $LightGray;
    font-size: 1rem;
    margin-bottom: 0.9rem;
    line-height: 1.2rem;
    text-indent: -.5rem;

    ul {
      padding-left: 1.5rem;
      margin: 1.5rem 0;
    }

    &:before {
      content: '-';
      display: inline-block;
      padding-right: 0.5rem;
    }
  }
}

.FlexContainer.Services.Container {
  padding: 6rem 0;
  max-width: 75rem;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .Services.column h2 {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .Services.column ul li {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .Services.column {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
  }

  .PageBannerAlternate.Services h2 {
    margin-bottom: 1.5rem;
  }

  .FlexContainer.Services.Container {
    padding: 2rem 0;
  }

  .PageBannerAlternate.Services h1.ServicesTitle {
    margin-bottom: 0.5rem;
  }

  .PageBannerAlternate.Services h2 {
    font-size: 1rem;
  }
}
